@import "~bootstrap/scss/bootstrap.scss";

.light{
    height: 7rem;
    width: 7rem;
    border: solid black;   
}
.content{
    background-color: black;
    margin-top: 33px;
    padding: 1rem;
    width: 10rem;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
    
} 
.green{
    background-color: green;   
}

.brillo{  
    background-color: grey;
}